---
layout: default
---
<!-- Posts -->
<ul id="posts">
	{% for post in paginator.posts %}
		<li class="post">
			<h3><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h3>
			<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
			<p>{{ post.content | strip_html | truncatewords:50 }}</p>
			<hr/>
		</li>
	{% endfor %}
</ul>
