---
layout: default
---

<script type="text/javascript" src="js/qrcode.min.js"></script>
<noscript>
 <div>
  <p>Cái này cần JavaScript</p>
  <p>This Application requires JavaScript</p>
 </div>
</noscript>
<form action="#" id="form">
 <label for"text">Input (Thông tin):</label>
 <input name="text" type="text" id="text" value="https://danh.dev/" required />
 <input type="submit" value="Generate QR Code | Tạo mã QR"/>
</form>
<div class="img-center">
 <figure>
  <div id="qrpng">
  </div>
  <figcaption>QR Code in PNG format</figcaption>
 </figure>
 <!--
 <figure>
  <svg xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
   <g id="qrsvg"/>
  </svg>
  <figcaption>QR Code in SVG format</figcaption>
 </figure>
 -->
</div>
<script type="text/javascript">
	var qrpng = new QRCode(document.getElementById("qrpng"), {
		width: 512,
		height: 512,
		correctLevel : QRCode.CorrectLevel.H,
	});
	/*
	var qrsvg = new QRCode(document.getElementById("qrsvg"), {
		width: 512,
		height: 512,
		correctLevel : QRCode.CorrectLevel.H,
		useSVG: true,
	});
	*/
	function mkcode() {
		qrpng.makeCode(document.getElementById("text").value);
		// qrsvg.makeCode(document.getElementById("text").value);
	}
	mkcode();
	document.getElementById("form").onsubmit = function() {
		mkcode();
		return false;
	}
</script>
