---
layout: default
---
<article id="post-page">
	<h3>{{ page.title }}</h3>
	{% if page.date %}
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	{% endif %}
	<div class="content">
	{{ content }}
	</div>
</article>

